@import "tailwindcss";

@theme {
  --color-primary-dark: #1b3c53;
  --color-primary-medium: #234c6a;
  --color-accent: #456882;
  --color-light: #d2c1b6;
}

body {
  background: var(--color-primary-dark);
  color: var(--color-light);
}
